.nav{
    position: relative;
    margin-right: 1rem;
}

.nav > ul{
    display: flex;
}
.nav ul a{
    color: var(--colorLetra);
}

.nav ul .content-menu,
.nav ul .dash{
    display: block;
    font-size: 1.2rem;
    padding: 1.25rem 1.5rem;
}

.nav ul .content-menu .fa-chevron-down{
    font-size: 1.1rem;
    margin-left: .2rem;
}
.nav ul .content-menu{
    cursor: pointer;
    position: relative;
}

/* menu */
.content-menu .menu{
    position: absolute;
    top: 67px;
    left:-65px; 
    background-color: #fff;
    display: none;
}
.menu li a{
    font-size: 1rem;
    display: block;
    text-align: center;
    padding: .8rem 2rem;
}
.menu li a:hover,
.nav ul .content-menu:hover,
.nav ul .dash:hover{
    background-color: #cfcfcf;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.nav ul .content-menu:hover .menu{
    display: block;
}