
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    display:grid;
    place-items: center;
    font-family: poppins, sans-serif;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease-out;
}
.content-principal{
    display: flex;
}

.content{
    position: relative;
    width: 450px;
    height: 550px;
    padding: 3rem 2.2rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background:linear-gradient(to right, #082032 50%,#000 100%); */
    background-color: #082032;
    transform: translateY(0);
    transition: transform 1.1s ease-in-out;
}

/* show form de ingresar */
.close__form{
    position: absolute;
    transform: translateY(-700px);
    transition: transform 1.1s ease-out;
}
.show__modal{
    opacity: 1;
    pointer-events:unset;
    transition: opacity 1s ease-out;
}

/* icon de cerrar form */
.content  > i{
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 18px;
    cursor: pointer;
    color: #fff;
    transition: all .4s ease-in-out;
}
.content  > i:hover{
    color: #8d8d8d;
}

/* titulo de nuetro formulario */
.titulo{
    font-size: 1.8rem;
    letter-spacing: -.7px;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: #fff;
}

.content .formulario{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
}

.formulario div{
    position: relative;
}
.formulario div span{
    position: absolute;
    left: 42px;
    top: 12px;
    font-size: 1.125rem;
    pointer-events: none;
    color: #fff;
}


/* inputs */
.formulario input{
    padding: .7rem 1.5rem;
    width: 90%;
    margin: auto;
    font-size: 1.12rem;
    border-radius: 10px;
    border: 2px solid #fff;
}
.formulario div input{
    font-weight: 200;
    background-color: transparent;
    color: #fff;
}

.formulario div input:valid ~span,
.formulario div input:focus ~span{
    font-size: .8rem;
    top: -12px;
    background-color: #082032;
    padding:0px .3rem ;
    transition: all .3s ease-in-out;
}


/* boton de para entrar o registrarse */
.boton{
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #fff;
    color: var(--negro);
}
.boton:hover{
    background-color: #f2f2f2;
}




/* redes con las que puedes inciar o registrarte */
.opciones__ingresar{
    width: 100%;
}
.opciones__ingresar div{
    width: 80%;
    margin: auto;
    margin-top: .4rem;
    padding:.1rem 2rem;
    border-radius: 100px;
    border: 2px solid;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opciones__ingresar .facebook__opcion{
    background-color: #3458f5;
    border-color: #2450e0;
}

.fa-facebook{
    color: #fff;
}

.opciones__ingresar .google__opcion{
    background-color: #fff;
    border-color: #cacaca;
}
.fa-google{
    color: #f31616;
}

.opciones__ingresar .facebook__opcion:hover{
    background-color: #fff;
    color: #000;
}
.opciones__ingresar .facebook__opcion:hover p ,
.opciones__ingresar .facebook__opcion:hover .fa-facebook{
    color: #000;
}


.opciones__ingresar p{
    font-size: .9rem;
    color: #fff;
}
.opciones__ingresar > p{
    margin: .8rem 0;
}
.opciones__ingresar span{
    font-weight: 600;
    color: #2450e0;
    text-decoration:underline;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.opciones__ingresar div:last-child p{
    color: var(--negro);
}

