
.iphones,
.laptops{
    width: 90%;
    margin: auto;
    margin-top: 1.55rem;
    margin-bottom: 1rem;
}
.content__iphones,
.content__laptops{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    place-items: center;
    gap: 20px;
}

.iphone__titulo,
.laptop__titulo{
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: .7rem;
    padding: .8rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}